@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:wght@400;700;900&family=Open+Sans&family=Poppins:wght@300;400;600&display=swap');

*,*:before, *:after{
    box-sizing: border-box;
}



body {
    margin: 0 auto;
    background-color: black;
    
}


a {
    text-decoration: none;
}

.container {
    padding: 0 95px;
}

.header-block {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

}

.header-block-left {
    display: flex;
    justify-content: space-between;
    display: flex;
    gap: 0 47px;
}

.nav {
    display: flex;
    gap: 0 28px;
}

.lng-link {
    display: flex;
    justify-content: baseline;
    gap: 0 10px;
}

.nav-link {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 11.3174px;
    line-height: 17px;
    color: #FFFFFF;
}


span {
    font-size: 19px;
}


.logo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18.6404px;
    color: #FFFFFF;
}

.header-block-right {
    display: flex;
    justify-content: space-between;
    gap: 0 30px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    width: 63px;
    height: 30px;
    background: #FFFFFF;
    border-radius: 1000px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
    color: #000000;
}


.main {
    margin-top: 105px;
}


h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 66px;
    line-height: 99px;
    color: #FFFFFF;
    border: 1px solid #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 125.333px;
    line-height: 188px;
    color: #FFFFFF;
}

